#headers{
	margin-bottom: 80px;
}

.headbuttons{
	background-color: #0099ff;
	color: white;
	border: 0px solid #000099;
	border-radius: 6px;
	font-size: 15px;
	padding: 10px 38px;
	text-align: center;
	font-family: Calibri Light;
	font-size: 18px;
}

.headbuttons:hover{
	background-color: #003366;
}

#logosearch{
	float: center;
}

#logo{

}

#name{
	font-family: Century Schoolbook;
	color: #0099ff;
	font-size: 25px;
	text-shadow: 4px 4px 4px #99ccff;
	padding-bottom: 45px;
}

#search{
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ffddcc
}

#search input[type = searchbar]{
	height: 40px;
	width: 500px;
	display: inline-block;
	font-size: 15px;
	font-family: Calibri Light;
}

.searchbuttonsleft{
	background-color: #a6a6a6;
	color: white;
	border: 0px solid #000000;
	border-radius: 0px;
	font-size: 15px;
	padding: 10px 38px;
	text-align: center;
	float: left;
	font-family: Calibri Light;
	font-size: 18px;
}

.searchbuttonsleft:hover{
	background-color: #808080
}

.searchbuttonsright{
	background-color: #a6a6a6;
	color: white;
	border: 0px solid #000000;
	border-radius: 0px;
	font-size: 15px;
	padding: 10px 38px;
	text-align: center;
	float: right;
	font-family: Calibri Light;
	font-size: 18px;
}

.searchbuttonsright:hover{
	background-color: #808080
}

#mainbutton{
	float: left;
	padding-left: 30px;
}

#cartbutton{
	float: right;
	padding-right: 30px;
}

#product{
	padding-top: 65px;
}

#producttitle{
	font-family: Calibri Light;
	color: #e6b800;
}

#allimages{
	border: 8px solid #0099ff;
	margin-left: 80px;
	margin-right: 80px;
}

#prodimage{
	padding-top: 45px;
	padding-bottom: 45px;
}

#image2{
	padding-top: 80px;
}

#image3{
	padding-top: 80px;
	padding-bottom: 45px;
}

#prodbuttons{
	padding-top: 80px;
	padding-bottom: 65px;
}

.productbuttons{
	background-color: #47d1d1;
	color: white;
	border: 2px solid #000000;
	border-radius: 2px;
	font-size: 15px;
	padding: 10px 38px;
	text-align: center;
}

.productbuttons:hover{
	background-color: #666666;
}

#productdetail{
	background-color: #ffddcc;
}

#proddesc{
	font-size: 21px;
	font-family: Calibri;
	padding-left: 80px;
	padding-top: 45px;
}

#prodpoint{
	padding-left: 80px;
	padding-top: 20px;
	padding-bottom: 45px;
	font-family: Calibri Light;
	font-size: 20px;
	line-height: 200%;
}

#addcart{
	padding-bottom: 100px;
	padding-top: 45px;
}

.addcart{
	background-color: #ffcc00;
	color: #4d3d00;
	border: 3px solid #e6b800;
	border-radius: 2px;
	font-size: 15px;
	padding: 17px 47px;
	text-align: center;
	font-family: Calibri Light;
	font-size: 20px;

}

.addcart:hover{
	background-color: #e6b800;
}

#suggesttitle{
	font-family: Calibri Light;
	font-size: 16px;
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #ffddcc
}

#suggestions{
	float: center;
	padding-bottom: 150px;
	padding-top: 45px;
}

#suggestion1{
	float: left;
	padding-right: 100px;
	padding-left: 260px;
	font-family: Calibri Light;
}

#suggestion2{
	float: left;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 20px;
	font-family: Calibri Light;
}

#suggestion3{
	float: left;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 31px;
	font-family: Calibri Light;
}

a{
	text-decoration: none;
	color: #0099ff;
	font-size: 20px;
}